$primary-color: #696969;
$secondary-color: #c0c0c0;
$tertiary-color: #fff;
$primary-font: 'Coming Soon', sans-serif;
$header-font: 'Luckiest Guy', sans-serif;
$logo-font: 'Permanent Marker', sans-serif;
@mixin border($style) {
  border: 1px $style $primary-color;
  border-radius: 5px;
}
@mixin width-margin {
  width: 100%;
  margin: 0 auto;
}
@mixin bg-img($img-url) {
  background-image: url($img-url);
  background-repeate: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 500px;
}

* {
  margin: 0;
  padding: 0;
}

.container, .col-12, .row {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: $primary-font;
  color: $primary-color;
  width: 100%;
}

h1, h2, h3, h4 {
  padding: 20px;
  text-align: center;
  font-family: $header-font;
}

.logo-text {
  font-family: $logo-font;
}

.btn {
  margin: 10px;
  padding: 10px;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear:both;
}

.hidden {
  display: none
}

.red {
  color: red;
}

.margin-top {
  margin-top: 10px;
}

.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.small-text {
  font-size: .8rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

h2 {
  margin-top: 50px;
}

input {
  @include border(solid);
  padding: 5px;
}

::placeholder {
  color: $secondary-color;
}

a:hover {
  text-decoration: none;
}

.index-bg-img {
  @include bg-img('/img/aurora88.jpg');
}

.feed-bg-img{
  @include bg-img('/img/liy.png');
}

.posts li {
  @include border(dotted);
  padding: 10px 20px;
  margin: 20px 0;
}

input {
  margin: 5px auto;
}

.content {
  min-height: 725px;
}

.footer-div {
  margin: 20px 10px;
}

.socialmedia a, .copyright {
  margin: 5px;
}

.copyright {
  position: absolute;
  right: 20px;
}

.form-element {
  justify-content: center;
}

.form-helper {
    text-align: right;
    width: 100%;
    font-style: italic;
}

.account-element {
  padding: 20px;
}

.post-element {
  padding: 10px 15%;
}

.posts {
  width: 70%;
  margin: 10px auto;
}

.posts li {
  list-style: none;
}